active+clean
scrub starts
scrub ok
upgrading scrub to deep-scrub
cluster [INF] HEALTH_OK
currently reached_pg
ScrubResult

# Simple rrors supressed: they cause deep scrubs
scrub errors
requests are blocked
slow requests

# Supresssed deep scrub errors, maybe fixed in Luminous
head candidate had a read error
deep-scrub.*errors
deep-scrub.*missing
deep-scrub.*inconsistent
