handle_connect_msg accept connect_seq
fault with nothing to send
bi_log_iterate_entries
gc_iterate_entries
Compact
compacted to
Delete
Generated table
bytes OK
started
scrub ok
scrub starts
received *signal: Hangup from *PID
